{% macro nav(links="") %}
<div class="navbar">
    <a href="{{ config.extra.github }}">{{ config.extra.user }}</a>
    {% if links %}
        {% for link in links %}
        / <a href="{{ config.base_url }}/{{ link }}">{{ link | split(pat="/") | last }}</a>
        {% endfor %}
    {% else %}
        / <a href="{{ config.base_url }}">home</a>
        {% if section %}
            {% set components = section.components %}
        {% elif page %}
            {% set components = page.components %}
        {% endif %}
        {% if components %}
            {% set n = components | length %}
            {% for i in range(start=1, end=n) %}
                {% set c = components[i] %}
                {% if i < n - 1 %}
                    {% set path = components | slice(end=i+1) | join(sep='/') %}
                    / <a href="{{ config.base_url }}/{{ path }}">{{ c }}</a>
                {% else %}
                    / {{ c }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
{% endmacro nav %}

{% macro page_info(page) %}
<div class="article-info">
    {% if page.date %}
    <div class="article-date">{{ page.date }}</div>
    {% endif %}
    <div class="article-taxonomies">
        {% if page.taxonomies.categories %}
        <ul class="article-categories">
            {% for c in page.taxonomies.categories %}
            <li><a href="{{ get_taxonomy_url(kind="categories", name=c) | safe }}">{{ c }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if page.taxonomies.tags %}
        <ul class="article-tags">
            {% for t in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=t) | safe }}">#{{ t }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro article_info %}

{% macro page_listing(page) %}
<article class="page-list">
    <header> 
        <h1>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
    </header>
    {% if page.description or page.summary %}
    <div class="content">
        {% if page.description %}
        <div class="article-description">
            {{ page.description | markdown | safe }}
        </div>
        {% endif %}
        {% if page.summary %}
        <div class="article-summary box">
            {{ page.summary | striptags | markdown | safe }}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {{ self::page_info(page=page) }}
</article>
{% endmacro article_listing %}
