html {
  color: #464c53;
  font-size: 14px;
  font-family: "Merriweather", serif;
  line-height: 1.5; }

body {
  background-color: #f7f9fa;
  width: 860px;
  margin: 2em auto 50vh auto; }

nav, .nav, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace; }

h1, h2, h3, h4, h5, h6 {
  color: #1a334c;
  line-height: 1.1; }

h1 {
  width: max-content;
  margin: 2em auto;
  padding-bottom: 1em;
  border-bottom: solid 1px #E5E5E5;
  font-size: 200%; }

h2 {
  font-size: 160%; }

h3 {
  font-size: 120%; }

ol, ul {
  padding-left: 2em; }

li {
  padding-left: 1em; }

a, a small, a:hover small {
  color: #4080bf;
  text-decoration: none; }

a:hover, a small:hover, a:hover small, a small:hover small, a:focus, a small:focus {
  color: #bf8040; }

a small, a:hover small small {
  margin-top: -0.3em;
  display: block; }

a:hover small, a small:hover small {
  font-size: 80%; }

strong {
  font-weight: 700; }

small {
  font-size: 80%; }

hr {
  border: 0;
  background: #E5E5E5;
  height: 1px;
  margin: 2em 0; }

blockquote, .thm, .thm-theorem, .thm-proposition, .thm-lemma, .thm-corollary, .thm-definition {
  margin: 1em 0;
  padding-left: 1rem;
  border-left: 4px solid #E5E5E5; }

.thm nav, .thm-theorem nav, .thm-proposition nav, .thm-lemma nav, .thm-corollary nav, .thm-definition nav, .thm h1, .thm-theorem h1, .thm-proposition h1, .thm-lemma h1, .thm-corollary h1, .thm-definition h1, .thm h2, .thm-theorem h2, .thm-proposition h2, .thm-lemma h2, .thm-corollary h2, .thm-definition h2, .thm h3, .thm-theorem h3, .thm-proposition h3, .thm-lemma h3, .thm-corollary h3, .thm-definition h3, .thm h4, .thm-theorem h4, .thm-proposition h4, .thm-lemma h4, .thm-corollary h4, .thm-definition h4, .thm h5, .thm-theorem h5, .thm-proposition h5, .thm-lemma h5, .thm-corollary h5, .thm-definition h5, .thm h6, .thm-theorem h6, .thm-proposition h6, .thm-lemma h6, .thm-corollary h6, .thm-definition h6 {
  text-align: left; }

.thm-theorem {
  border-color: #4080bf; }

.thm-proposition {
  border-color: #bf8040; }

.thm-lemma {
  border-color: #bf4040; }

.thm-corollary {
  border-color: #bfbf40; }

.thm-definition {
  border-color: #4040bf; }

code, kbd {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-size: 90%;
  padding: 0 0.3em; }

.highlighter-rouge {
  border-radius: 3pt;
  border: 1pt solid #E5E5E5; }

div.highlighter-rouge {
  padding: 0.5em 1em; }
  div.highlighter-rouge code, div.highlighter-rouge kbd, div.highlighter-rouge pre {
    border: none;
    margin: 0;
    padding: 0; }

table {
  border-collapse: collapse;
  margin: 0 auto; }

dt {
  font-weight: 700; }

th, td {
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5; }

th {
  font-family: "Roboto Mono", monospace; }

tr:last-child th, tr:last-child td {
  border-bottom: none; }

.float-right {
  float: right; }

img {
  max-width: 100%;
  display: block;
  margin: 40px auto; }

#page-title {
  margin-top: 0; }

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased; }

.section-nav {
  font-family: "Roboto Mono", monospace;
  font-size: 80%; }

.anchorjs-link {
  position: absolute; }

.message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .message h1 {
    margin: 0; }

.polytope {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 1em 0; }

.MathJax_SVG_Display {
  overflow-x: scroll;
  overflow-y: hidden; }

.vf {
  display: flex; }
  .vf svg {
    margin: 0 auto; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip-text {
  visibility: hidden;
  white-space: nowrap;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  z-index: 1; }

.tooltip:hover .tooltip-text, a:hover small.tooltip .tooltip-text, a small:hover small.tooltip .tooltip-text {
  visibility: visible; }

@media (max-width: 960px) {
  html {
    padding: 0 15px; }

  body {
    width: auto; }

  nav, h1, h2, h3, h4, h5, h6 {
    text-align: center; } }
@media (max-width: 540px) {
  html {
    font-size: 60%; } }
