@import "~bootstrap/scss/bootstrap";

#main {
    max-width: 5in;
    padding-top: 2rem;
}

#joules .input-group-text {
    width: 1.2in;
    text-align: right;
}

//#label {
    //text-align: center;
//}

//#components-header {
    //button {
        //padding: 0;
    //}
//}

//#components {
    //margin-bottom: 0;
//}
